<tr data-fmz-trackId="<%= id %>" class="trackRow">
    <td class="trackImage">
        <% if (trackModel !== null) { %>
            <img src="<%= trackModel.get('jamendo_album_image') %>">
        <% } %>
    </td>
    
    <% if (this.options.context === 'twitterCharts') { %>
    
        <td class="chartsPosition"><%- chart_position %></td>
    
    <% } %>
    
    <td class="trackInformations">
        <% if (trackModel !== null) { %>
            <%- trackModel.get('jamendo_name') %> by <%- trackModel.get('jamendo_artist_name') %>
        <% } %>
    </td>
    <td class="trackActions">
        <button type="button" class="icon fa fa-play js-playTrack"></button>
        <button type="button" class="icon fa fa-twitter js-shareOnTwitterTrack"></button>

        <% if (this.options.context !== 'twitterCharts') { %>

            <button type="button" class="icon fa fa-twitter js-shareOnFacebookTrack"></button>
            <button type="button" class="icon fa fa-twitter js-shareOnGooglePlusTrack"></button>

        <% } %>

    </td>
        
</tr>