<tr data-fmz-trackId="<%= jamendo_id %>">
    <td>
        <button type="button" class="icon dashed fa fa-play playTrack"></button>
    </td>
    <td>
        <img src="<%= jamendo_album_image %>">
    </td>
    <td><%- chart_position %></td>
    <td><%- jamendo_name %> by <%- jamendo_artist_name %></td>
</tr>