<tr data-fmz-trackId="<%= jamendo_id %>" class="trackRow">
    <td class="trackImage">
        <img src="<%= jamendo_album_image %>">
    </td>
    
    <% if (context === 'twitterCharts') { %>
    
        <td class="chartsPosition"><%- chart_position %></td>
    
    <% } %>
    
    <td class="trackInformations"><%- jamendo_name %> by <%- jamendo_artist_name %></td>
    <td class="trackActions">
        <button type="button" class="icon fa fa-play js-playTrack"></button>
        <button type="button" class="icon fa fa-twitter js-shareOnTwitterTrack"></button>
        
        <% if (context === '') { %>
        
            <button type="button" class="icon fa fa-twitter js-shareOnFacebookTrack"></button>
            <button type="button" class="icon fa fa-twitter js-shareOnGooglePlusTrack"></button>
        
        <% } %>
        
    </td>
</tr>