<tr data-track-id="<%= id %>">
    <td><button type="button" class="icon dashed fa fa-play trackPreview"></button></td>
    <td><%= name %></td>
    <td><%= artist_name %></td>
    <td><%= duration %></td>
    <td><%= album_name %></td>
</tr>