<tr data-track-id="<%= id %>">
    <td><i class="fa fa-play trackPreview"></i></td>
    <td><%= name %></td>
    <td><%= artist_name %></td>
    <td><%= duration %></td>
    <td><%= album_name %></td>
</tr>